:root {
  --windowWidth: 100%;
}

.image_container {
  background-image: url("/mywebpage-react/images/LandingPageAssets/hero-image.jpg");
  background-size: cover;
  background-origin: center;
  background-repeat: no-repeat;
  height: calc(var(--windowWidth) * 0.56);
  max-height: 850px;
  margin: 20px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  -webkit-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
}

.text_container {
  color: white;
}

.text_container > :first-child {
  font-size: 100px;
}
.text_container > :nth-child(2) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 800px) and (min-width: 400px) {
  .text_container > :first-child {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .text_container > :first-child {
    font-size: 30px;
  }
}
