.container {
  height: 50px;
  background-color: rgb(168, 85, 26);
  color: white;
  display: flex;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
}

.nav {
  display: flex;
  gap: 5px;
  margin-right: 20px;
}

.navMobile {
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.95;
  margin-top: 35px;

  -webkit-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 19px -6px rgba(0, 0, 0, 0.75);
}

.logo {
  margin-left: 20px;
  height: 85%;
}

.navButton {
  height: 30px;
  margin: 15px 20px 15px 0;
}

@media (max-width: 400px) {
  .logo {
    height: 30px;
  }
}
