.FeatureBox {
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.image {
  width: 100%;
  height: auto;
}

.image:hover {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1000px) {
  .FeatureBox {
    width: 80%;
  }
}
