.backg {
  width: 100%;
  background-image: url("images/LandingPageAssets/background.png");
  background-size: cover;
  display: grid;
  place-items: center;
}

.container {
  width: 90%;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
